/* liquid.css - минимальная версия */
#infographics {
    position: relative;
    overflow: hidden;
}

#liquidCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
}

#infographics .container,
#infographics .infographics-grid,
#infographics .infographic-card {
    position: relative;
    z-index: 2;
}